@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

body{
    max-height: 100vh;
}

.App {
    min-height: 100vh;
    background: linear-gradient(to right top, #814CD9, #BD61F0, #CE4CD9, #F857BE);
}
  
.Circle1,
.Circle2{
    background: linear-gradient(to right bottom, #7B66DE, #B37CF5, #BD66DE, #FA73FA);
    height: 20rem;
    width: 20rem;
    position: absolute;
    border-radius: 50%;
}
  
.Circle1{
    top: 5%;
    right: 5%;
    z-index: 2;
}
  
.Circle2{
    bottom: 5%;
    left: 10%;
    z-index: 1;
}
  
.app-content{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}